
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>DETAIL</h1>
    <h2>{{article.pk}} 번째 글</h2>
    <hr>
    <p>제목 : {{article.title}}</p>
    <p>내용 : {{article.content}}</p>
    <p>작성 시간 : {{article.created_at}}</p> 
    <p>수정 시간 : {{article.updated_at}}</p>   

    <hr>
    <div>
        <a href="{% url "prac_app:update" article.pk%}">
            <button>수정하기</button>
        </a>
    </div>
    <div>
        <form action="{% url "prac_app:delete" article.pk %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="게시물삭제">
        </form>
    </div>
    <div>
        <a href="{% url "prac_app:index" %}">
            <button>back</button>
        </a>    
    </div>

    
</body>
</html>