<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>EDIT</h1>
    <form action="{% url "prac_app:update" article.pk %}" method="POST">
        {% csrf_token %}
        <div>
            <label for="title">Title:</label>
            <input type="text" name="data_title" id="title" value={{article.title}}>
        </div>
        <div>
            <label for="content">Content:</label>
            <textarea name="data_content" id="content">{{article.content}}</textarea>
        </div>
        <input type="submit" value="제출">
    </form>
    <hr>
    <a href="{% url "prac_app:index" %}">
        <button>BACK</button>
    </a>    
</body>
</html>